<div class="layout">
    <app-header></app-header>
    <div class="content">
        <app-sidebar></app-sidebar>
        <div class="parent-container">
            <div class="dashboard-header">
                <app-station-title></app-station-title>
                <p *ngIf="latestTimestamp" class="last-updated">Last updated: {{ getFormattedTimestamp() }}</p>
            </div>

            <div class="grid-container">
                <div class="graph-grid">
                    <div class="graph-content">
                        <div class="graph-header">
                            <app-duration-selector></app-duration-selector>
                            <div class="cumulative-info">
                                <p class="cumulative-label">{{ duration }} Total Rainfall</p>
                                <p class="cumulative-value"> <span>{{ totalRainfall.toFixed(2)}} in</span></p>
                            </div>
                            <div class="cumulative-info">
                                <p class="cumulative-label">{{ duration }} Temperature</p>
                                <p class="cumulative-value">Mean: <span>{{ meanTemp.toFixed(0) }}&deg;F </span>  Min: <span>{{ minTemp.toFixed(0) }}&deg;F</span> Max: <span>{{ maxTemp.toFixed(0) }}&deg;F</span></p>
                            </div>
                            <div class="cumulative-info">
                                <p class="cumulative-label">{{ duration }} Average Solar Radiation</p>
                                <p class="cumulative-value"><span>{{ meanSolarRad.toFixed(0) }} W/m</span><sup>2</sup></p>
                            </div>
                        </div>
                        <div class="chart-container">
                            <app-dashboard-chart></app-dashboard-chart>
                        </div>
                    </div>
                </div>
                <div class="data-side">
                    <div class="data-grid">
                        <div class="data-content">
                            <p class="title">Rainfall</p>
                            <p class="index">{{ variables['Rainfall'] || 'N/A' }}<span class="unit">in</span></p>
                        </div>
                    </div>
                    <div class="data-ele">
                        <div class="data-content">
                            <p class="title">Temperature</p>
                            <p class="index">{{ variables['Temperature'] || 'N/A' }}<span class="unit">&deg;F</span></p>
                        </div>
                    </div>
                    <div class="data-ele">
                        <div class="data-content">
                            <p class="title">Wind Speed</p>
                            <p class="index">{{ variables['Wind Speed'] || 'N/A' }} <span class="unit">mph</span></p>
                        </div>
                    </div>
                    <div class="data-ele">
                        <div class="data-content">
                            <p class="title">Soil Moisture</p>
                            <p class="index"><ng-container
                                    *ngIf="variables['Soil Moisture'] !== undefined; else noData">
                                    {{ variables['Soil Moisture'] }} <span class="unit">%</span>
                                </ng-container></p>
                        </div>
                    </div>
                    <div class="data-ele">
                        <div class="data-content">
                            <p class="title">Solar Radiation</p>
                            <p class="index">
                                <ng-container *ngIf="variables['Solar Radiation'] !== undefined; else noData">
                                    {{ variables['Solar Radiation'] }} <span class="unit">W/m<sup>2</sup></span>
                                </ng-container>
                                <ng-template #noData>N/A</ng-template>
                            </p>

                            <div class="progress custom-progress-bar">
                                <div class="progress-bar" role="progressbar"
                                    [style.width.%]="(+((variables || {})['Solar Radiation'] ?? 0)) / 1200 * 100"
                                    aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="data-ele">
                        <div class="data-content">
                            <p class="title">Relative Humidity</p>
                            <p class="index">{{ variables['Relative Humidity'] !== undefined ? variables['Relative
                                Humidity']: 'N/A' }}<span class="unit">%</span></p>

                            <div class="progress custom-progress-bar">
                                <div class="progress-bar" role="progressbar"
                                    [style.width.%]="variables['Relative Humidity'] ?? 0" aria-valuemin="0"
                                    aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
