<div class="layout">
    <div class="parent-container">
        <app-header></app-header>
        <app-sidebar [class.collapsed]="isCollapsed" (toggle)="onToggleSidebar($event)"></app-sidebar>
        <app-station-title [isCollapsed]="isCollapsed"></app-station-title>

        <div class="main-content" [class.collapsed]="isCollapsed">
            <div class="dashboard-header">
                <p class="last-updated">Last updated: {{ lastUpdated }}</p>
            </div>
            <div class="grid-container">
                <div class="graph-grid">
                    <div class="graph-content">
                        <div class="graph-header">
                            <div class="graph-controls">
                                <!-- Duration Selector -->
                                <app-duration-selector></app-duration-selector>

                                <!-- Unit Toggle (Now correctly below the duration selector) -->
                                <div class="unit-toggle">
                                    <span class="unit-option" [class.active]="selectedUnit === 'metric'">Metric</span>
                                    <label class="switch">
                                        <input type="checkbox" (change)="toggleUnit()">
                                        <span class="slider"></span>
                                    </label>
                                    <span class="unit-option" [class.active]="selectedUnit === 'standard'">Standard</span>
                                </div>
                            </div>

                            <div class="cumulative-info">
                                <div id="borderLeft"></div>
                                <p class="cumulative-label">{{ duration }} Total Rainfall</p>
                                <p class="cumulative-value"> 
                                    <span>{{ variables['Rainfall']}} {{ selectedUnit === 'standard' ? 'in' : 'mm' }}</span>
                                </p>

                            </div>
                            <div class="cumulative-info">
                                <p class="cumulative-label">{{ duration }} Temperature</p>
                                <p class="cumulative-value">
                                    Mean: <span>{{ meanTemp.toFixed(0) }}&deg;{{ selectedUnit === 'standard' ? 'F' : 'C' }}</span>
                                    Min: <span>{{ minTemp.toFixed(0) }}&deg;{{ selectedUnit === 'standard' ? 'F' : 'C' }}</span>
                                    Max: <span>{{ maxTemp.toFixed(0) }}&deg;{{ selectedUnit === 'standard' ? 'F' : 'C' }}</span>
                                </p>

                            </div>
                            <div class="cumulative-info">
                                <p class="cumulative-label">{{ duration }} Average Solar Radiation</p>
                                <p class="cumulative-value"><span>{{ meanSolarRad.toFixed(0) }} W/m</span><sup>2</sup>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="chart-container">
                        <app-dashboard-chart [isCollapsed]="isCollapsed"></app-dashboard-chart>

                    </div>
                </div>
                <div class="data-side">
                    <div class="data-side-header">
                        <h3>Current Conditions</h3>
                    </div>
                    <div class="data-side-grid">
                        <div class="data-ele">
                            <div class="data-content">
                                <div class="title">24-Hour Rainfall</div>
                                <div class="index">{{ variables['Rainfall'] || 'N/A' }}
                                    <span class="unit"> {{ selectedUnit === 'standard' ? 'in' : 'mm' }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="data-ele">
                            <div class="data-content">
                                <div class="title">Temperature</div>
                                <div class="index">{{ variables['Temperature'] || 'N/A' }}
                                    <span class="unit"> &deg;{{ selectedUnit === 'standard' ? 'F' : 'C' }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="data-ele"> <!-- Moved inside .data-side-grid -->
                            <div class="data-content">
                                <div class="title">Wind Speed</div>
                                <div class="index">
                                    <span class="unit">{{ variables['Wind Direction'] || 'N/A' }}</span>
                                    {{ variables['Wind Speed'] || 'N/A' }}
                                    <span class="unit"> {{ selectedUnit === 'standard' ? 'mph' : 'm/s' }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="data-ele">
                            <div class="data-content">
                                <div class="title">Soil Moisture</div>
                                <div class="index">
                                    <ng-container>
                                        {{ variables['Soil Moisture'] || 'N/A'}}<span class="unit">%</span>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="data-ele">
                            <div class="data-content">
                                <div class="title">Solar Radiation</div>
                                <div class="index-pbar">
                                    <ng-container>
                                        {{ variables['Solar Radiation'] || 'N/A'}} <span class="unit">W/m<sup>2</sup></span>
                                    </ng-container>
                                    <ng-template #noData>N/A</ng-template>
                                </div>
                                <div class="progress-container">
                                    <div class="progress-wrapper">
                                        <div class="progress custom-progress-bar">
                                            <div class="progress-bar" role="progressbar"
                                                [style.width.%]="(+((variables || {})['Solar Radiation'] ?? 0)) / 1200 * 100"
                                                aria-valuemax="100">
                                            </div>
                                        </div>
                                        <p class="progress-label">1200 W/m²</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data-ele">
                            <div class="data-content">
                                <div class="title">Relative Humidity</div>
                                <div class="index-pbar">
                                    {{ variables['Relative Humidity'] !== undefined ? variables['Relative Humidity']: 'N/A' }}
                                    <span class="unit">%</span>
                                </div>
                                <div class="progress-container">
                                    <div class="progress-wrapper">
                                        <div class="progress custom-progress-bar">
                                            <div class="progress-bar" role="progressbar"
                                                [style.width.%]="variables['Relative Humidity'] ?? 0" aria-valuemin="0"
                                                aria-valuemax="100">
                                            </div>
                                        </div>
                                        <p class="progress-label">Max: 100%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- Correctly closing .data-side-grid -->
                </div> 
            </div>
        </div>
    </div>
</div>
