.dashboard-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.last-updated {
  font-size: 0.9rem;
  color: #555;
  width: 90%;
  text-align: right;
  margin-top: 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-auto-rows: 12vh;
  gap: 8px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.graph-grid {
  grid-column: 1 / 2;
  grid-row: 1 / span 6;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.graph-content {
  display: flex;
  flex-direction: column;
}

.chart-container {
  width: 100%;
  flex-grow: 1;
  display: block;
}

.data-side {
  grid-column: 2 / 3;
  grid-row: 1 / span 6;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 8px;
  border: solid #edf1f7 1px;
  border-radius: 4px;
  background-color: white;
  padding: 30px;
}

.data-ele {
  display: block;
}

.data-content {
  width: 100%;
}

.data-grid h3,
.data-ele h3 {
  font-size: 1.2rem;
  margin: 0;
}

.data-ele {
  margin-bottom: 2vh;
}

.title {
  font-size: 2vh;
  margin-bottom: 1.5vh;
}

.index {
  font-size: 5vh;
  font-weight: 800;
}

.progress {
  height: 5px;

}

.custom-progress-bar .progress-bar {
  background-color: #28a745;
  /* Green */
}

.unit {
  font-size: 20px
}



.graph-header {
  display: flex;
  justify-content: start; 
  align-items: center; 
  gap: 20px; 
  padding: 10px 20px; 
  border-bottom: 1px solid #edf1f7;
}


app-duration-selector {
  flex: 0 0 200px; /* Dropdown takes fixed width */
}

.cumulative-info {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: center;
}

.cumulative-label {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 5px; /* Space between the two rows */
}

.cumulative-total {
  font-size: 0.9rem;
  color: #333;
  font-weight: 700;
}

@media (max-width: 768px) {
  .graph-header {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: flex-start; 
  }

  app-duration-selector {
    width: 100%; 
  }

  .cumulative-info {
    width: 100%; 
    margin-top: 10px;
  }
}