.dashboard-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.last-updated {
  font-size: 0.9rem;
  color: #555;
  width: 100%;
  text-align: right;
}

.grid-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-auto-rows: 12.5vh;
  gap: 8px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.graph-grid {
  grid-column: 1 / 2;
  grid-row: 1 / span 6;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.graph-content {
  display: flex;
  flex-direction: column;
}

.chart-container {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: block;
}

.data-side-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr)); /* Adjust height dynamically */
  gap: 8px;
  height: 100%;
  overflow: hidden;
}

.data-side {
  grid-column: 2 / 3; 
  grid-row: 1 / span 6; 
  border: solid #edf1f7 1px;
  border-radius: 8px;
  background-color: white;
  padding: 0px 15px 0px 15px;
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
  height: 100%; 
}



.data-ele {
  display: flex;
  align-items: center; 
  height: 100%;
}

.data-content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  width: 100%;
}

.data-grid h3,
.data-ele h3 {
  font-size: 1.2rem;
  margin: 0;
}


.title {
  font-size: 2vh;
  display: block; 
  padding-bottom: 2vh;
}


.index {
  font-size: 6vh;
  font-weight: 800;
  display: block;
}

.index-pbar {
  font-size: 5vh;
  font-weight: 800;
  display: block;
}

.progress {
  height: 5px;

}

.custom-progress-bar .progress-bar {
  background-color: #28a745;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.progress-wrapper {
  position: relative;
  width: 100%;
  padding-top: 10px;
}

.progress-label {
  font-size: 0.8rem;
  color: #555;
  text-align: right;
  margin-top: 3px; 
}

.unit {
  font-size: 2.5vh
}

.graph-header {
  display: flex;
  justify-content: start; 
  align-items: center; 
  gap: 20px; 
  padding: 10px 20px; 
  border-bottom: 1px solid #edf1f7;
}


app-duration-selector {
  flex: 0 0 200px; 
}

.cumulative-info {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: center;
  padding-left: 2%;
  padding-right: 2%;
}

.cumulative-label {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 5px; 
}

.cumulative-value {
  font-size: 0.9rem;
  color: #333;
}

.cumulative-value span {
  font-weight: 700; 
}

@media (max-width: 768px) {
  .graph-header {
    flex-direction: column; 
    align-items: flex-start; 
  }

  app-duration-selector {
    width: 100%; 
  }

  .cumulative-info {
    width: 100%; 
    margin-top: 10px;
  }
}

.data-side-header {
  padding: 3px 0; 
  border-bottom: 1px solid #edf1f7; 
}

.data-side-header h3 {
  font-size: 1vw; 
  font-weight: 600; 
  color: #333; 
  margin: 0;
  text-align: left;
  text-align: center;
}

.unit-toggle-container {
  display: flex;
  justify-content: center; /* Center the toggle below the dropdown */
  width: 100%;
}

.unit-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

/* Style for the unit labels */
.unit-option {
  font-size: 12px;
  font-weight: bold;
  color: #888;
  transition: color 0.3s;
}

/* Active label (selected unit) */
.unit-option.active {
  color: #000;
}

/* Switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider (toggle button) */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Move slider when checked */
input:checked + .slider {
  background-color: #bbb;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
