<div class="layout">
    <div class="parent-container">
        <app-header></app-header>
        <app-station-title></app-station-title>
        <app-sidebar></app-sidebar>
        <div class="main-content">
          <p>NOTE: Information on this page is derived from the Hawaii Climate Data Portal's gridded contemporary climatology dataset and is not sourced directly from the station's observations.</p>
            <div class="unit-toggle">
                <label for="unitSelector">Select Units:</label>
                <select id="unitSelector" (change)="toggleUnits()">
                  <option [value]="false" [selected]="!isMetric">Standard</option>
                  <option [value]="true" [selected]="isMetric">Metric</option>
                </select>
              </div>
            <div id="climatologyChart" class="graph-container"></div>
        </div>
    </div>
</div>