.map-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  position: relative; /* Ensures absolute positioning works */
}

.map-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  width: 100%; /* Ensures the title is centered across the full width */
}

.dropdown-group {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 0; /* Positions dropdown to the left */
}
  
#map {
  height: 500px;
  width: 100%;
  border-radius: 8px;
}
