.table-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }
  
  .header-container {
    display: flex;
    align-items: center; /* Aligns items vertically */
    position: relative; /* Allows absolute positioning for the title */
    width: 100%;
    padding-bottom: 10px;
  }
  
  .search-container {
    flex: 1; /* Pushes the title to the center */
  }
  
  .table-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Center the title */
    font-size: 20px;
    margin: 0;
    white-space: nowrap;
  }
  
  .table-wrapper {
    height: 90%; /* Set the height of the scrollable area */
    overflow-y: auto; /* Enables vertical scrolling */
    border: 1px solid #ddd;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    white-space: nowrap;
    padding: 8px;
  }
  
  th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
  }
  
  .search-container {
    align-self: left; /* Align with the title */
  }