<app-header></app-header>

<div class="map-container">
    <!-- diagnostic-map.component.html -->
    <div *ngIf="loading" class="loading-overlay">
      <div class="spinner"></div>
      <p>Loading station data...</p>
    </div>

    <div class="controls">
        <p *ngIf="latestObservationTime" class="observation-time">
            Latest Observation: <br> {{ latestObservationTime }}
        </p>
        <label for="variable-select">Select Variable:</label>
        <select id="variable-select" (change)="updateVariable($event)">
            <option *ngFor="let option of variableOptions" [value]="option.id">
                {{ option.name }}
            </option>
        </select>

        <p *ngIf="selectedVariable === 'RHenc_50'" class="note">
            Percent of last 24 hours where RHenc is above 50%.
        </p>
        <p *ngIf="selectedVariable === 'Tair_diff'" class="note">
          24-hour temperature sensor value differences.
        </p>
        <p *ngIf="selectedVariable === 'RH_diff'" class="note">
          24-hour relative humidity sensor value differences.
        </p>

    </div>

    <div id="map"></div>

    <div *ngIf="selectedStation" class="sidebar">
        <h3>{{ selectedStation.name }} ID #{{ selectedStation.id }}</h3>
        <p *ngIf="selectedStation?.id === '0521'">
            Diagnostic data applies to stations ID #0520 and #0521.
        </p>
        <p><strong>Latitude:</strong> {{ selectedStation.lat }}</p>
        <p><strong>Longitude:</strong> {{ selectedStation.lng }}</p>
        <p *ngIf="selectedStation.detailsTimestamp">
            <strong>Latest Measurement:</strong> {{ selectedStation.detailsTimestamp }}
        </p>

            <div class="station-details"
                *ngIf="selectedStation.details && objectKeys(selectedStation.details).length > 0; else noData">
                <div class="details-header">
                    <h4 style="margin-bottom: 0;">Diagnostic Observations</h4>
                </div>

                <table class="diagnostic-table">
                    <thead>
                      <tr>
                        <th>Variable</th>
                        <th>Value</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let key of objectKeys(selectedStation.details)">
                        <td>
                          {{ getVariableName(key) }}
                        </td>
                        <td>
                            <span *ngIf="isDifferenceVariable(key)">
                              {{ selectedStation.details[key] | number:'1.2-2' }}
                            </span>
                            <span *ngIf="!isDifferenceVariable(key)">
                              <!-- Add % sign only for RHenc_80 -->
                              <ng-container *ngIf="key.endsWith('>50% Enclosure Relative Humidity'); else regularValue">
                                {{ selectedStation.details[key] | number:'1.0-0' }}%
                              </ng-container>
                              <ng-template #regularValue>
                                {{ selectedStation.details[key] }}
                              </ng-template>
                            </span>
                          </td>
  
                        <td>
                          <span
                            class="{{ getStatusClass(key.replace(selectedStation.id + ' ', ''), selectedStation.details[key]) }}">
                            {{ getStatus(key.replace(selectedStation.id + ' ', ''), selectedStation.details[key]) }}
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
      
            <div *ngIf="selectedStation.sensorUpdates && objectKeys(selectedStation.sensorUpdates).length > 0"
                class="details-header">
                <h4 style="margin-bottom: 0;">Sensor Latest Update</h4>
            </div>

            <table *ngIf="selectedStation.sensorUpdates && objectKeys(selectedStation.sensorUpdates).length > 0"
                class="sensor-update-table">
                <thead>
                    <tr>
                        <th>Variable</th>
                        <th>Latest Update</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let key of objectKeys(selectedStation.sensorUpdates)">
                        <tr>
                            <td>{{ getVariableName(key) }}</td>
                            <td>{{ selectedStation.sensorUpdates[key] }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

        <ng-template #noData>
            <p *ngIf="selectedStation.details && objectKeys(selectedStation.details).length === 0">No recent data
                available.</p>
            <p *ngIf="!selectedStation.details">Loading data...</p>
        </ng-template>

        <div class="sidebar-buttons">
            <a [href]="selectedStation.url" target="_blank" class="button">Open Dashboard</a>
            <button class="close-btn" (click)="closeSidebar()">Close</button>
        </div>
    </div>


</div>