<div class="parent">
  <!-- Dropdown Container (Row 1) -->
  <div class="dropdown-container" id="dashboard-chart-dropdown">
    <div class="label-dropdown-wrapper">
      <label for="duration-select">Select Time Range:</label>
      <div class="dropdown">
        <button 
          class="btn btn-custom dropdown-toggle" 
          type="button" 
          id="dropdownMenuButton" 
          data-bs-toggle="dropdown" 
          aria-haspopup="true" 
          aria-expanded="false">
          {{ getLabelForSelectedDuration() }}
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a 
            class="dropdown-item" 
            *ngFor="let duration of durations" 
            (click)="selectDuration(duration.value)"
            [class.active]="selectedDuration === duration.value">
            {{ duration.label }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Chart Container (Row 2) -->
  <div class="chart-container">
    <div *ngIf="isLoading" class="spinner-overlay">
      <mat-progress-spinner 
        mode="indeterminate"
        diameter="50">
      </mat-progress-spinner>
    </div>
    <div #chartContainer id="container"></div>
  </div>
</div>
