.parent{
    height: 100%; /* Ensure this container spans the full height */
  }
  .chart-container {
    position: relative;
    width: 100%;
    height: 600px;
  }

  .spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Optional background overlay */
    z-index: 10; /* Ensures the spinner stays on top of the chart */
  }

  mat-progress-spinner {
    z-index: 20; /* Make sure it's on top of everything */
  }

  #container {
    width: 100%;
    height: 100%;
  }

  .dimmed {
    opacity: 0.5; /* Dim the chart when loading */
    pointer-events: none; /* Prevent interactions */
  }
  
