<div class="parent">
  <div>
    <label for="duration-select">Select Time Range:</label>
    <select id="duration-select" [(ngModel)]="selectedDuration" (change)="onDurationChange()">
      <option *ngFor="let duration of durations" [value]="duration.value">{{ duration.label }}</option>
    </select>
  </div>
  <div id="chart-container" class="chart-container">
    <div *ngIf="isLoading" class="spinner-overlay">
      <mat-progress-spinner 
        mode="indeterminate"
        diameter="50">
      </mat-progress-spinner>
    </div>
    <div id="container"></div> <!-- Keep the container always present -->
  </div>

</div>