<aside class="sidebar">
  <nav class="nav-menu">
    <p class="sidebar-submenu">SITE MENU</p>
    <ul>
      <li><img src="dashboard.svg" alt="Dashboard Icon" class="icon"><a routerLink="/dashboard2" class="nav-link">Site Dashboard</a></li>
      <li><img src="graph.svg" alt="Dashboard Icon" class="icon"><a routerLink="/graph" class="nav-link">Graph</a></li>
      <li><img src="climo.svg" alt="Dashboard Icon" class="icon"><a routerLink="/climatology" class="nav-link">Climatology</a></li>
      <li><img src="info.svg" alt="Dashboard Icon" class="icon"><a routerLink="/station-information"
          class="nav-link">Station Information</a></li>
    </ul>
  </nav>
</aside>
