.sidebar {
  width: 16rem;
  height: calc(100vh - 60px); /* Full height minus header height */
  position: fixed;
  top: 60px; /* Positions the sidebar below the header */
  left: 0;
  z-index: 500;
  color: #222b45;
  background-color: white;
  box-shadow: rgba(44, 51, 73, 0.1) 0px 8px 16px 0px;
}

.nav-menu {
  padding-top: 20px; /* Adds space below the header */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  border-bottom: 1px solid #edf1f7; /* Adds faint line between items */
  height: 50px; /* Sets a fixed height to allow vertical centering */
  display: flex; /* Flex layout to center items vertically */
  align-items: center; /* Centers the content vertically */
}

li:first-child{
  border-top: 1px solid #edf1f7;
}

li:last-child {
  border-bottom: none; /* Remove the line after the last item */
}

.nav-link {
  display: flex; /* Flex layout for vertical alignment */
  align-items: center; /* Center vertically */
  justify-content: start; /* Aligns text to the start (left) */
  width: 100%; /* Full width clickable link */
  height: 100%; /* Makes the link fill the whole li */
  padding-left: 5px; /* Indent for the link text */
  color: #333;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}





.sidebar-submenu {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  color: #8f9bb3;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 0;
}

li:hover {
  background-color: #f4f4f9;
}