.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000; /* Ensure it appears above the Leaflet map */
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 10001; /* Higher than modal-overlay */
    position: relative;
    width: 80%;
  }
  
  button {
    background-color: #007bff; /* Primary blue */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    outline: none;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }
  
  button:disabled {
    background-color: #ccc; /* Greyed out when disabled */
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: #0056b3; /* Darker blue on hover */
    transform: translateY(-2px); /* Slight lift effect */
  }
  
  button:active {
    transform: translateY(0px); /* Reset on click */
  }
  