<div class="modal-overlay">
  <div class="modal-content">
    <label>
      <input type="checkbox" [(ngModel)]="isChecked" />
      All data is covered under the <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Attribution-NonCommercial-NoDerivatives 4.0 International</a> licensing agreement. By checking this box, I acknowledge and agree to adhere to the terms of this license in my use of any data provided by this application.
    </label>
    <button (click)="acceptAgreement()" [disabled]="!isChecked">Accept</button>
  </div>
</div>
