<div class="layout">

  <div class="parent-container">
    <app-header></app-header>
    <app-station-title></app-station-title>
    <app-sidebar></app-sidebar>
    <div class="main-content">
      <div class="menu-container">
        <div class="select-container">
          <div class="input-group">

            <label for="variableSelect">Variable:</label>
            <select id="variableSelect" (change)="onVariableChange($event)">
              <option *ngFor="let variable of variables" [value]="variable.value">{{ variable.label }}</option>
            </select>

          </div>
          <div class="input-group">
            <label for="durationSelect">Duration:</label>
            <select id="durationSelect" (change)="onDurationChange($event)">
              <option *ngFor="let duration of durations" [value]="duration.value">{{ duration.label }}</option>
            </select>
          </div>
          <div class="input-group">
            <label for="unitSelect">Units:</label>
            <select id="unitSelect" (change)="onUnitChange($event)">
              <option value="metric">Metric</option>
              <option value="standard">Standard</option>
            </select>
          </div>
          <button class="update-button" (click)="updateChartButtonClick()">Update Chart</button>
        </div>
      </div>
      <div id="graphContainer" class="graph-container"></div>
    </div>
  </div>
</div>