.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

table th, table td {
  text-align: center;
}

.no-data {
  text-align: center;
  color: #666;
  font-style: italic;
  margin-top: 20px;
}

.form-box{
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #d0d7de;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 20px;
}

.table-container{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #d0d7de;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 20px;
  flex-wrap: wrap;
  height: 50%; 
}

.mat-header-row {
  background-color: #f1f1f1 !important;
  color: #000 !important;
  font-weight: bold !important;
}


.table-container {
  display: flex;
  flex-direction: column;
  height: auto; /* Adjust height dynamically */
  overflow: auto; /* Enable scrolling if needed */
}

.mat-table {
  flex-grow: 1; /* Allow table to grow within the container */
}

.mat-paginator {
  flex-shrink: 0; /* Ensure paginator stays at the bottom */
}
