<div class="dropdown-container" id="station-map-dropdown">
  <div class="label-dropdown-wrapper">
    <label for="island-select">Select Island:</label>
    <div class="dropdown">
      <button class="btn btn-custom dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ getIslands() }}
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <!-- Loop through islandList and display the label for each island -->
        <a class="dropdown-item" *ngFor="let island of islandList" (click)="selectIsland(island.value)"
          [class.active]="selectedIsland === island.value">
          {{ island.label }}
        </a>
      </div>
    </div>
  </div>
</div>

<div id="map" style="height: 80%; width: 100%"></div>
