<div class="dashboard-header">
  <h2>Station Name: {{ stationName }}</h2>
  <p *ngIf="latestTimestamp">Last updated: {{ getFormattedTimestamp() }}</p>
</div>

<div class="grid-container">
  <mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color"
      class="tile-wrapper">
      <div class="tile-content" style="width: 100%; height: 100%">
        <ng-container [ngSwitch]="tile.variableKey">
          <div *ngSwitchCase="null" class="graph-container">
            <app-dashboard-chart></app-dashboard-chart>
          </div>

          <div *ngSwitchCase="'Rainfall'" class="tile-rainfall">
            <p>Hourly Rainfall</p>
            <p>{{ variables['Rainfall'] || 'N/A' }}</p>
          </div>

          <div *ngSwitchCase="'Temperature'" class="tile-temperature">
            <p>Air Temperature</p>
            <p>{{ variables['Temperature'] || 'N/A' }}</p>
          </div>

          <div *ngSwitchCase="'Wind Speed'" class="tile-wind">
            <p>Wind Speed</p>
            <p>{{ variables['Wind Speed'] || 'N/A' }}</p>
          </div>

          <div *ngSwitchCase="'Soil Moisture'" class="tile-soilmoisture">
            <p>Soil Moisture</p>
            <p>{{ variables['Soil Moisture'] || 'N/A' }}</p>
          </div>

          <div *ngSwitchCase="'Relative Humidity'" class="tile-relativehumidity">
            <p>Relative Humidity</p>
            <p>{{ variables['Relative Humidity'] || 'N/A' }}</p>
          </div>

          <div *ngSwitchCase="'Solar Radiation'" class="tile-solarradiation">
            <p>Solar Radiation</p>
            <p>{{ variables['Solar Radiation'] || 'N/A' }}</p>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
