/* Ensure the tile content fills the grid tile */
.tile-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.graph-container {
  width: 100%;
  height: 100%;
}
mat-grid-list {
  width: 90%;
  margin: 0 auto; /* Center the grid within the parent */
}

.tile-wrapper {
  border: 1px solid #ccc; /* Light gray border */
  box-sizing: border-box; /* Ensures padding and border are included in the element's width/height */
}
