/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css'; Replace with a light theme

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #EDF1F7 !important;}
app-header {
    width: 100%;
    z-index: 1000; /* Ensures header is on top */
    position: fixed; /* Sticks the header to the top */
    top: 0;
    left: 0;
  }

  app-sidebar {
    width: 250px;
    height: calc(100vh - 60px); /* Full height minus header height */
    position: fixed; /* Sidebar stays fixed */
    top: 60px; /* Below the header */
    left: 0;
    z-index: 500; /* Lower than the header */
  }

  .main-content {
    margin-left: 250px; /* Space for the sidebar */
    padding-top: 100px;
    flex: 1; /* Fills remaining space */
    overflow-y: auto; /* Scrolls if content overflows */
    position: relative; /* Makes sure Highcharts stays within this space */
    z-index: 400; /* Lower than sidebar and header */
  }

/* Dropdown */

.dropdown-container {
  display: flex;
  justify-content: end; /* Pushes the entire label+dropdown to the right */
  padding: 10px 0px; 
}

.label-dropdown-wrapper {
  display: flex;
  flex-direction: column; /* Stack the label on top of the dropdown */
  align-items: flex-start; /* Align label to the left */
}

.label-dropdown-wrapper label {
  font-weight: bold; 
  margin-bottom: 5px; /* Space between the label and the dropdown button */
}

.dropdown {
  width: 200px; 
}

.dropdown .btn-custom {
  width: 100%; /* Button takes up full width of the dropdown */
  background-color: #ffffff !important; 
  color: #212529 !important; 
  border: 1px solid #ddd !important; 
}

.dropdown .btn-custom:hover {
  background-color: #f8f9fa !important; 
  color: #212529 !important; 
}

.dropdown .btn-custom:focus,
.dropdown .btn-custom:active {
  background-color: #f1f1f1 !important; 
  color: #212529 !important; 
  outline: none; 
}

.dropdown-menu {
  width: 100%; 
  background-color: #ffffff !important; 
  border-radius: 8px !important; 
  border: 1px solid #ddd !important; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

.dropdown-menu .dropdown-item {
  color: #212529 !important; 
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa !important; 
  color: #212529 !important; 
}

.dropdown-menu .dropdown-item.active {
  background-color: #e2e6ea !important; 
  color: #212529 !important; 
}
