/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

Replace with a light theme html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #EDF1F7 !important;
}

app-header {
  width: 100%;
  z-index: 1000;
  /* Ensures header is on top */
  position: fixed;
  /* Sticks the header to the top */
  top: 0;
  left: 0;
}

app-sidebar {
  width: 250px;
  height: calc(100vh - 60px);
  position: fixed;
  /* Sidebar stays fixed */
  top: 60px;
  /* Below the header */
  left: 0;
  z-index: 500;
  /* Lower than the header */
}

.parent-container {
  /* margin-left: 16rem; */
  padding-top: 4.75rem;
  flex: 1;
  overflow-y: auto;
  position: relative;
  z-index: 400;
}

.main-content {
  position: relative;
  /* Respect parent-container's flexbox */
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  margin-left: calc(16rem + (100% - 16rem) * 0.05);
  /* Centered within remaining space */
  width: calc((100% - 16rem) * 0.9);
  /* 80% of available space */
}

/* Collapsed Sidebar */
.main-content.collapsed {
  margin-left: calc(4rem + (100% - 4rem) * 0.05);
  width: calc((100% - 4rem) * 0.9);
}



.label-dropdown-wrapper {
  display: flex;
  flex-direction: column;
  /* Stack the label on top of the dropdown */
  align-items: flex-start;
  /* Align label to the left */
}

.label-dropdown-wrapper label {
  font-weight: bold;
  margin-bottom: 5px;
  /* Space between the label and the dropdown button */
}

.dropdown {
  width: 200px;
}

.graph-container {
  flex: 1;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #d0d7de;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  width: 100%;
  max-width: 250px;
  padding: 10px 15px;
  font-size: 16px !important;
  border: 1px solid #d0d7de;
  border-radius: 8px;
  background-color: #ffffff;
  color: #333;
  cursor: pointer;
}

select:focus {
  border-color: #0056b3;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 86, 179, 0.25);
}

option {
  font-size: 1rem;
  color: #333;
}





html, body, #map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  font-size: 1rem !important; /* Prevent inherited font scaling from Angular */
}

.leaflet-marker-icon > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaflet-marker-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  margin: 0 !important;
  width: auto !important;
  height: auto !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.leaflet-marker-icon svg {
  display: block;
}
