.container {
    display: flex;
    position: relative;
  }
  
  #map {
    height: 800px;
    width: 90%; /* Adjust width as needed */
  }
  
  .sidebar {
    width: 25%;
    background: white;
    padding: 15px;
    border-left: 2px solid #ccc;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
  }

  .legend {
    background: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
  }
  
  .legend h4 {
    margin: 0 0 8px;
    font-weight: bold;
    text-align: center;
  }
  
  