.section {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally center items */
  gap: 16px; /* Space between the logo and title */
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section img {
  height: 200px; /* Set a consistent height for the logo */
}

.section .title {
  font-size: 46px; /* Adjust title size */
  font-weight: bold;
  margin: 0; /* Remove default margins */
}

.container {
  display: flex;
  justify-content: space-between; /* Pushes items to the left and right */
  width: 100%;
}

.left-app{
  width: 60%; /* Adjust width as needed */
}

.right-app{
  width: 40%
}