<section class="section">
  <img src="logo.png" alt="Hawaii Mesonet Logo" />
  <p class="title">Hawai&#699;i Mesonet Live Data Access</p>
</section>

<div class="container">
  <div 
    class="left-app" 
    [class.expanded]="selectedView === 'map'" 
    [class.collapsed]="selectedView === 'table'" 
    (click)="toggleView('map')"
  >
    <app-station-map *ngIf="selectedView === 'map'"></app-station-map>
    <div class="preview-label" *ngIf="selectedView === 'table'">Map Search</div>
  </div>

  <div 
    class="right-app" 
    [class.expanded]="selectedView === 'table'" 
    [class.collapsed]="selectedView === 'map'" 
    (click)="toggleView('table')"
  >
    <app-station-table *ngIf="selectedView === 'table'"></app-station-table>
    <div class="preview-label" *ngIf="selectedView === 'map'">Table Search</div>
  </div>
</div>
