.section {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally center items */
  gap: 16px; /* Space between the logo and title */
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 25vh
}

.section img {
  height: 20vh; /* Set a consistent height for the logo */
}

.section .title {
  font-size: 46px; /* Adjust title size */
  font-weight: bold;
  margin: 0; /* Remove default margins */
  color: #444444;
}

.container {
  display: flex;
  justify-content: space-between; /* Pushes items to the left and right */
  width: 100%;
  margin-top: 20px;
  height: 70vh;
}

.left-app{
  width: 60%;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  border: solid #edf1f7 1px;
  height: 60vh;
}

.right-app{
  width: 50%;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  border: solid #edf1f7 1px;
  height: 60vh;
}

.container {
  display: flex;
  justify-content: space-between; /* Pushes items to the left and right */
  gap: 20px; /* Adds space between left and right */
  width: 100%;
  margin-top: 20px;
  height: 70vh;
}
