name: Run Diagnostic Measurements

on:
  schedule:
    - cron: '*/15 * * * *'  # Runs every 15 min
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install -r scripts/requirements.txt

      - name: Decode and Mask API Token
        run: |
          API_SECRET=$(echo '${{ secrets.API_CONFIG_JSON }}' | base64 -d | tr -d '\n')
          echo "::add-mask::$API_SECRET"  
          echo "API_TOKEN=$API_SECRET" >> $GITHUB_ENV

      - name: Run Python script with API Token
        env:
          API_TOKEN: ${{ env.API_TOKEN }}
        run: python scripts/diagnosticMeasurements.py

      - name: Ensure data-branch exists
        run: |
          git fetch origin data-branch || echo "data-branch does not exist, creating it..."
          git checkout data-branch || git checkout --orphan data-branch
          git pull origin data-branch --rebase || echo "No existing data-branch content"
          
      - name: Move JSON files to data-branch
        run: |
          mkdir -p data  # Ensure directory exists
          mv BattVolt.json data/
          mv RHenc.json data/
          mv CellStr.json data/
          mv CellQlt.json data/
          mv Tair_diff.json data/
          mv RH_diff.json data/

      - name: Set up Git user  
        run: |
          git config --local user.email "github-actions@github.com"
          git config --local user.name "github-actions"

      - name: Commit and push JSON files to data-branch
        run: |
          git add data/RHenc.json data/BattVolt.json data/CellStr.json data/CellQlt.json data/Tair_diff.json data/RH_diff.json
          git commit -m "Update JSON data" || echo "No changes to commit"
          git pull origin data-branch --rebase || echo "No remote changes to merge"
          git push origin data-branch --force
