name: Run Python Script Hourly

on:
  schedule:
    - cron: '0 * * * *'  # Runs every hour
  workflow_dispatch:  # Allows manual execution

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install -r scripts/requirements.txt

      - name: Decode API Token
        run: echo "API_TOKEN=$(echo '${{ secrets.API_CONFIG_JSON }}' | base64 -d)" >> $GITHUB_ENV

      - name: Debug API Token
        run: |
          echo "API Token length: ${#API_TOKEN}"
          echo "API Token (masked): ${API_TOKEN:0:4}****${API_TOKEN: -4}"
        env:
          API_TOKEN: ${{ secrets.API_TOKEN }}


      - name: Run Python script with API Token
        env:
          API_TOKEN: ${{ env.API_TOKEN }}
        run: python scripts/latestMeasurements.py


      - name: Ensure gh-pages branch exists
        run: |
          git fetch origin gh-pages || echo "gh-pages branch does not exist, creating it..."
          git checkout gh-pages || git checkout --orphan gh-pages
          git pull origin gh-pages || echo "No existing gh-pages content"

      - name: Move JSON files to gh-pages branch
        run: |
          mkdir -p json_data  # Create a directory to store JSON files
          mv latest_measurements.json json_data/
          mv earliest_measurements.json json_data/

      - name: Set up Git user  
        run: |
          git config --local user.email "github-actions@github.com"
          git config --local user.name "github-actions"

      - name: Commit and push JSON files to GitHub Pages branch
        run: |
          git add json_data/latest_measurements.json json_data/earliest_measurements.json
          git commit -m "Update JSON data" || echo "No changes to commit"
          git push origin gh-pages
