name: Deploy Angular to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Inject API token into environment.prod.ts
        run: |
          mkdir -p src/environments
          echo "export const environment = { production: true, apiToken: '$(echo '${{ secrets.API_CONFIG_JSON }}' | base64 -d)' };" > src/environments/environment.prod.ts

      - name: Generate environment.ts
        run: |
          mkdir -p src/environments
          echo "export const environment = { production: false, apiToken: '' };" > src/environments/environment.ts
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Install Angular CLI
        run: npm install -g @angular/cli

      - name: Build the Angular app
        run: ng build --configuration production --base-href="https://cherryleh.github.io/mesonet/"

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist/mesonet/browser  # Corrected the folder path
          branch: gh-pages
          token: ${{ secrets.GITHUB_TOKEN }}  # Use default GITHUB_TOKEN unless using custom
